DJANGO_SECRET_KEY=troque-esta-chave-antes-de-subir
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,192.168.17.89
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8010,http://127.0.0.1:8010,http://192.168.17.89:8010

DATABASE_ENGINE=mysql
DATABASE_NAME=hub_agentes
DATABASE_USER=hub_agentes
DATABASE_PASSWORD=troque-a-senha-do-banco
DATABASE_HOST=db
DATABASE_PORT=3306
MYSQL_ROOT_PASSWORD=troque-a-senha-root-do-mysql
